<table id="DevelopmentsThatMatter" role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0"
    align="center">
    <tr>
        <td></td>
        <td width="600" class="spacer-v-30">&nbsp;</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <center>
            <td class="" width="600">
                <h2>${DevThatMatterHeadline}</h2>
            </td>
        </center>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td class="spacer-v-20" width="600">&nbsp;</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td width="600">
            <center>
                <h3 class="color-blue">
                    <!--<div class="mktoText" mktoname="Developments That Matter Headline"
                        id="DevelopmentsThatMatterHeadline">
                        Headline</div>-->
                    ${GenericHeadline}
                </h3>
            </center>
        </td>
        <td></td>
    </tr>
    <tr>
        <td colspan="3" class="spacer-v-5">&nbsp;</td>
    </tr>
    <tr>
        <td></td>
        <td width="600">
            <div class="mktoText blue-links p-margins" mktoname="Developments That Matter Description"
                id="DevelopmentsThatMatterDesc">
                <p>This is the content for this section of the email. You should write one to two paragraphs here about
                    the developments that matter most to our members. <a href="/">Links are allowed here and will be
                        blue like this</a>. </p>
                <p>You can have multiple paragraphs, so please, use the space!</p>
            </div>
        </td>
        <td></td>
    </tr>
    <tr>
        <td colspan="3" class="spacer-v-15">&nbsp;</td>
    </tr>
</table>