<table
  id="DutyCalls"
  role="presentation"
  aria-hidden="true"
  cellspacing="0"
  cellpadding="0"
  border="0"
  align="center"
>
  <tr class="duty-calls-headline">
    <td></td>
    <td width="600">
      <h2>${DutyCallsHeadline}</h2>
    </td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td class="spacer-v-20" width="600">&nbsp;</td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td width="600">
      <div class="hr-fake hr-blue">&nbsp;</div>
    </td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td class="spacer-v-30" width="600">&nbsp;</td>
    <td></td>
  </tr>
</table>
