<table
  id="DutyCallsStory_##count"
  role="presentation"
  aria-hidden="true"
  cellspacing="0"
  cellpadding="0"
  border="0"
  class="text-align-center"
  align="center"
>
  <tr>
    <td></td>
    <td width="600">
      <center>
        <img
          src="https://uschamber-webassets.s3.amazonaws.com/email-assets/daily-bulletin/duty.jpg"
          class="mktoImg"
          id="DutyCallsImg_##count"
          width="600"
          mktoName="Duty Calls Image Source"
          width="600"
        />
      </center>
    </td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td class="spacer-v-20" width="600">&nbsp;</td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td class="text-align-center" width="600">
      <h3 class="color-blue">
        <a class="color-blue ${mktNoTok}" href="${GenericUrl}"
          >${GenericHeadline}</a
        >
      </h3>
    </td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td class="spacer-v-5" width="600">&nbsp;</td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td class="text-align-center" width="600">
      <div
        class="mktoText blue-links p-margins"
        mktoname="Duty Calls Description"
        id="DutyCallsDescription_##count"
      >
        <p>
          Add a short (1-3 sentences) section here about why this is important.
          Keep in mind that <a href="#">you can link</a> the content here
          easily.
        </p>
        <p>
          Don't put too many sentences within a paragraph. Let's keep this
          readable!
        </p>
      </div>
    </td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td class="spacer-v-20" width="600">&nbsp;</td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td class="spacer-v-30 ${HideLine}" width="600">&nbsp;</td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td class="spacer-v-30" width="600">&nbsp;</td>
    <td></td>
  </tr>
</table>
