<tr>
    <td class="question-q" valign="top">
      <strong>Q:</strong>
    </td>
    <td class="spacer-h-15">
      &nbsp; 
    </td>
    <td valign="top">
      <strong>${YourTakeQuestion##count}</strong>
    </td>
  </tr>
  <tr>
    <td class="spacer-v-15"></td>
  </tr>
  <tr>
    <td class="answer-a" valign="top">
      <strong>A:</strong>
    </td>
    <td class="spacer-h-15">
      &nbsp; 
    </td>
    <td valign="top">
      <div
        class="mktoText blue-links yt-p-margins"
        mktoname="Your Take Answer"
        id="YourTakeAnswer_##story_##count"
      >
        <p>This is a brief and interesting answer to the question. It can <a href="https://www.uschamber.com">include links</a> if you want.</p>
      </div>
    </td>
  </tr>