<table
  id="YourTakeStory_2"
  role="presentation"
  aria-hidden="true"
  cellspacing="0"
  cellpadding="0"
  border="0"
  align="center"
  class="document"
>
  <tr>
    <td class="yt-split-image mobile-block" align="left" valign="top">
      <table class="bg-light-gray">
        <tr>
          <td>
              <img
                class="mktoImg"
                mktoname="Your Take Photo"
                id="YourTakePhoto_2"
                src="https://www.uschamber.com/sites/default/files/styles/person_large/public/person/image/Donohue-Tom_e_sm.jpg"
              />
          </td>
        </tr>
        <tr>
          <td>
            <table>
              <tr>
                <td class="bg">
                  <h3 id="YourTakeAuthor">${YourTakeAuthor}</h3>
                  <h4 id="YourTakeAuthorTitle">${YourTakeAuthorTitle}</h4>
                </td>
                <td class="spacer-h-5"></td>
                <td>
                  <img
                    class="mktoImg yt-logo-img"
                    mktoname="Your Take Logo"
                    id="YourTakeLogo_2"
                    src="https://page.uschamber.com/rs/462-UWH-935/images/USCC_logo_web_ProximaNova_ExtraCondensed_seal-Gray-uscc.png"
                    width="75"
                  />
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
    <td class="spacer-h-15 mobile-block">
      &nbsp; 
    </td>
    <td class="mobile-block bg" dir="ltr" valign="top">
        <table>
          ##include('./q-and-a.html', {"count":1})
          <tr>
            <td class="spacer-v-30"></td>
          </tr>
          ##include('./q-and-a.html', {"count":2})
        </table>
    </td>
  </tr>
  <tr>
    <td class="spacer-v-30 mobile-block mobile-hide">&nbsp;</td>
    <td class="spacer-v-15 mobile-block">&nbsp;</td>
  </tr>
</table>
