.your-take-story h3 {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
  }

.your-take-story h4 {
  font-size: 12px;
}

.your-take-story td {
    vertical-align: top;
  }

.your-take-story p a {
  color: #15bef0;
  text-decoration: underline;
  display: inline;
}

.question-q {
    font-size: 28px;
    color: #15bef0;
  }

.answer-a {
    font-size: 28px;
    color: rgb(242, 100, 87);
  }

.yt-logo-img {
    width: 75px !important;
  }