<table id="SmallBizPerspective" role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0"
    align="center" class="document mobile-reverse">
    <tr class="bg-darkblue">
        <td class="bg bg-darkblue mobile-block" dir="ltr">
            <table>
                <tr>
                    <td>
                        <h3>${SmallBizPerspectiveHeadline}</h3>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td class="spacer-v-20">&nbsp;</td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <h4>
                            <div class="mktoText" mktoname="Small Biz Perspective Headline"
                                id="SmallBizPerspectiveHeadline">10
                                Small
                                Businesses Doing Amazing Things to
                                Support the
                                Coronavirus Effort</div>
                        </h4>
                    </td>
                </tr>
            </table>
        </td>
        <td class="split-image mobile-block" align="right" dir="ltr">
            <div class="mktoImg" mktoname="Small Biz Perspective Image" id="SmallBizPerspectiveImage">
                <img
                    src="https://uschamber-webassets.s3.amazonaws.com/email-assets/daily-bulletin/smallBizPerspective.png">
            </div>
        </td>
    </tr>
    <tr>
        <td class="spacer-v-30 mobile-block mobile-hide">&nbsp;</td>
        <td class="spacer-v-15 mobile-block ">&nbsp;</td>
    </tr>
</table>