#NumbersToKnow .ntk {
    background: #003a5d;
    text-align: center;
    color: #fff;
    width: 32%;
    padding: 10px;
}

#NumbersToKnow .ntk h3 {
    font-size: 60px;
    line-height: 0.9em;
    padding: 10px 30px 20px 30px;
    display: inline-block;
}

#NumbersToKnow .ntk-red h3 {
    color: rgb(242, 100, 87);
    border-bottom: 2px solid rgb(242, 100, 87);
}

#NumbersToKnow .ntk-red hr {
    border: 1px solid rgb(242, 100, 87);
}

#NumbersToKnow .ntk-gold h3 {
    color: #9d8168;
    border-bottom: 2px solid #9d8168;
}

#NumbersToKnow .ntk-gold hr {
    border: 1px solid #9d8168;
}

#NumbersToKnow .ntk-blue h3 {
    color: #15bef0;
    border-bottom: 2px solid #15bef0;
}

#NumbersToKnow .ntk-blue hr {
    border: 1px solid #15bef0;
}

#NumbersToKnow .ntk h4 {
    margin-top: 20px;
}
