<table id="Navbar" role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" align="center">
    <tr>
        <td style="width: 250px">
            <a href="https://www.uschamber.com/">
                <img id="Logo" width="250"
                alt="U.S. Chamber of Commerce"
                    src="https://page.uschamber.com/rs/462-UWH-935/images/USCC_logo_web_ProximaNova_ExtraCondensed_seal-Gray-uscc.png">
            </a>
        </td>
        <td width="50"></td>
        <td width="130" align="center" class="text-align-center">
            <a class="mobile-hide quick-link ${mktNoTok}" href="${QuickLinkUrl1}"  >${QuickLinkText1}</a>
        </td>
        <td width="130" align="center" class="text-align-center">
            <a class="mobile-hide quick-link ${mktNoTok}" href="${QuickLinkUrl2}" >${QuickLinkText2}</a>
            </div>
        </td>
        <td width="130" align="center" class="text-align-center">
            <a class="mobile-hide quick-link ${mktNoTok}" href="${QuickLinkUrl3}" >${QuickLinkText3}</a>
            </div>
        </td>
    </tr>
    <tr class="mobile-hide">
        <td class="spacer-v-30" colspan="5">&nbsp;</td>
    </tr>
</table>