<table role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" align="center"
    class="document">
    <tr class="social">
        <td class="mobile-block">
            <div class="btn-block">
                <a href="https://www.facebook.com/uschamber/">
                    <img src="https://uschamber-webassets.s3.amazonaws.com/email-assets/daily-bulletin/facebook.png" />
                </a>
                <a href="https://twitter.com/USChamber">
                    <img src="https://uschamber-webassets.s3.amazonaws.com/email-assets/daily-bulletin/twitter.png" />
                </a>
                <a href="https://www.linkedin.com/company/u-s--chamber-of-commerce/">
                    <img src="https://uschamber-webassets.s3.amazonaws.com/email-assets/daily-bulletin/linkedin.png" />
                </a>
            </div>
        </td>
        <td class="mobile-block"></td>
        <td class="mobile-block text-align-center">
            <a href="{{system.forwardToFriendLink}}" class="btn btn-block btn-black">forward
                to a
                friend</a>
        </td>
    </tr>
</table>