<table id="ChamberInAction" role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0"
    align="center">
    <tr>
        <td></td>
        <td width="600">
            <h2>${ChamberInActionHeadline}</h2>
        </td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td class="padding-10"></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>
            <div class="hr-fake hr-red"></div>
        </td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td class="padding-20"></td>
        <td></td>
    </tr>
</table>
<table id="ChamberInActionStories" role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0"
    align="center">
    <tr>
        <td></td>
        <td width="600">
            <center>
                <h3>
                    <div class="mktoText" mktoname="Chamber in Action Headline 1" id="ChamberActionHeadline1">
                        Headline #1</div>
                </h3>
            </center>
        </td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>
            <center>
                <div class="mktoText" mktoname="Chamber in Action Description 1" id="ChamberActionDescription1">
                    <p>Lorem ipsum, dolor sit amet
                        consectetur
                        adipisicing elit.
                        In,
                        excepturi non. Ipsa neque rerum dolores quisquam
                        reprehenderit nihil a minima. Autem, sapiente!
                        Possimus
                        numquam harum reprehenderit suscipit aperiam
                        voluptatum
                        veniam.</p>
                </div>
            </center>
        </td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td class="spacer-v-10 grey-line"></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td class="spacer-v-10"></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>
            <center>
                <h3>
                    <div class="mktoText" mktoname="Chamber in Action Headline 2" id="ChamberActionHeadline2">
                        Headline #2</div>
                </h3>
            </center>
        </td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>
            <center>
                <div class="mktoText" mktoname="Chamber in Action Description 2" id="ChamberActionDescription2">
                    <p>Lorem ipsum, dolor sit amet
                        consectetur
                        adipisicing elit.
                        In,
                        excepturi non. Ipsa neque rerum dolores quisquam
                        reprehenderit nihil a minima. Autem, sapiente!
                        Possimus
                        numquam harum reprehenderit suscipit aperiam
                        voluptatum
                        veniam.</p>
                </div>
            </center>
        </td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td class="spacer-v-10 grey-line"></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td class="spacer-v-10"></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>
            <center>
                <h3>
                    <div class="mktoText" mktoname="Chamber in Action Headline 3" id="ChamberActionHeadline3">
                        Headline #3</div>
                </h3>
            </center>
        </td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>
            <center>
                <div class="mktoText" mktoname="Chamber in Action Description 3" id="ChamberActionDescription3">
                    <p>Lorem ipsum, dolor sit amet
                        consectetur
                        adipisicing elit.
                        In,
                        excepturi non. Ipsa neque rerum dolores quisquam
                        reprehenderit nihil a minima. Autem, sapiente!
                        Possimus
                        numquam harum reprehenderit suscipit aperiam
                        voluptatum
                        veniam.</p>
                </div>
            </center>
        </td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td class="padding-30"></td>
        <td></td>
    </tr>
</table>