<table id="ChamberInAction" role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0"
    align="center" class="document">
    <tr>
        <td class="mobile-block">
            <h2 class="mobile-padding-20">CHAMBER IN ACTION</h2>
            <div class="hr-fake hr-red"></div>
            <table>
                <tr>
                    <td class="spacer-v-30"></td>
                    <td class="spacer-h-30"></td>
                </tr>
                <tr>
                    <td>
                        <h3 class="mobile-padding-20">
                            <div class="mktoText" mktoname="Chamber in Action Headline 1" id="ChamberActionHeadline1">
                                Headline #1</div>
                        </h3>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td class="mobile-padding-20">
                        <div class="mktoText" mktoname="Chamber in Action Description 1" id="ChamberActionDescription1">
                            <p>Lorem ipsum, dolor sit amet
                                consectetur
                                adipisicing elit.
                                In,
                                excepturi non. Ipsa neque rerum dolores quisquam
                                reprehenderit nihil a minima. Autem, sapiente!
                                Possimus
                                numquam harum reprehenderit suscipit aperiam
                                voluptatum
                                veniam.</p>
                        </div>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td class="spacer-v-20">
                        <hr class="hr-gold" />
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <h3 class="mobile-padding-20">
                            <div class="mktoText" mktoname="Chamber in Action Headline 2" id="ChamberActionHeadline2">
                                Headline #2</div>
                        </h3>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td class="mobile-padding-20">
                        <div class="mktoText" mktoname="Chamber in Action Description 2" id="ChamberActionDescription2">
                            <p>Lorem ipsum, dolor sit amet
                                consectetur
                                adipisicing elit.
                                In,
                                excepturi non. Ipsa neque rerum dolores quisquam
                                reprehenderit nihil a minima. Autem, sapiente!
                                Possimus
                                numquam harum reprehenderit suscipit aperiam
                                voluptatum
                                veniam.</p>
                        </div>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td class="spacer-v-20">
                        <hr class="hr-gold" />
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <h3 class="mobile-padding-20">
                            <div class="mktoText" mktoname="Chamber in Action Headline 3" id="ChamberActionHeadline3">
                                Headline #3</div>
                        </h3>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td class="mobile-padding-20">
                        <div class="mktoText" mktoname="Chamber in Action Description 3" id="ChamberActionDescription3">
                            <p>Lorem ipsum, dolor sit amet
                                consectetur
                                adipisicing elit.
                                In,
                                excepturi non. Ipsa neque rerum dolores quisquam
                                reprehenderit nihil a minima. Autem, sapiente!
                                Possimus
                                numquam harum reprehenderit suscipit aperiam
                                voluptatum
                                veniam.</p>
                        </div>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td class="spacer-v-30"></td>
                    <td></td>
                </tr>
            </table>
            <h2 class="mobile-padding-20">DUTY CALLS, BUSINESS RESPONDS</h2>
            <div class="hr-fake hr-blue">
                <div class="mktoText" mktoname="Hashtag" id="Hashtag">
                    #AmericanBusiness</div>
            </div>
            <table role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" align="center"
                class="document">
                <tr>
                    <td class="mobile-block spacer-v-20"></td>
                    <td class="mobile-block spacer-h-10"></td>
                    <td class="mobile-block"></td>
                </tr>
                <tr class="side-by-side">
                    <td class="mobile-block">
                        <div class="mktoImg" mktoname="Duty Calls Image 1" id="DutyCallsImage1">
                            <img src="https://uschamber-webassets.s3.amazonaws.com/email-assets/daily-bulletin/dutyCalls1.png"
                                class="mobile-block" />
                        </div>
                        <h3 class="mobile-padding-20">
                            <div class="mktoText" mktoname="Duty Calls Headline 1" id="DutyCallsHeadline1">Headline
                            </div>
                        </h3>
                        <div class="mobile-padding-20">
                            <div class="mktoText" mktoname="Duty Calls Description 1" id="DutyCallsDescription1">
                                <p>Lorem ipsum dolor sit amet
                                    consectetur
                                    adipisicing elit.
                                    Sequi provident minima maiores iure. </p>
                            </div>
                        </div>
                    </td>
                    <td class="mobile-block"></td>
                    <td class="mobile-block">
                        <div class="mktoImg" mktoname="Duty Calls Image 2" id="DutyCallsImage2">
                            <img src="https://uschamber-webassets.s3.amazonaws.com/email-assets/daily-bulletin/dutyCalls2.png"
                                class="mobile-block" />
                        </div>
                        <h3 class="mobile-padding-20">
                            <div class="mktoText" mktoname="Duty Calls Headline 2" id="DutyCallsHeadline2">Headline
                            </div>
                        </h3>
                        <div class="mobile-padding-20">
                            <div class="mktoText" mktoname="Duty Calls Description 2" id="DutyCallsDescription2">
                                <p>Lorem ipsum dolor sit amet
                                    consectetur
                                    adipisicing elit.
                                    Sequi provident minima maiores iure. </p>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </td>
        <td id="Sidebar" class="mobile-block">
            <aside>
                <table table role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0"
                    align="center" class="document">
                    <tr>
                        <td>
                            <h3 class="bg bg-darkblue">Small Biz Perspectives
                            </h3>
                        </td>
                    </tr>
                    <tr class="mobile-hide">
                        <td class="spacer-v-10"></td>
                    </tr>
                    <tr>
                        <td>
                            <div class="mktoImg" mktoname="Small Biz Perspective Image" id="SmallBizPerspectiveImage">
                                <img src="https://uschamber-webassets.s3.amazonaws.com/email-assets/daily-bulletin/smallBizPerspective.png"
                                    class="mobile-block" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="padding-10">
                            <h4>
                                <div class="mktoText" mktoname="Small Biz Perspective Headline"
                                    id="SmallBizPerspectiveHeadline">10 Small
                                    Businesses Doing Amazing Things to
                                    Support the
                                    Coronavirus Effort</div>
                            </h4>
                        </td>
                    </tr>
                    <tr>
                        <td class="spacer-v-30"></td>
                    </tr>
                    <tr>
                        <td>
                            <h3 class="bg bg-darkblue">What We're Reading</h3>
                        </td>
                    </tr>
                    <tr>
                        <td class="spacer-v-10"></td>
                    </tr>
                    <tr>
                        <td class="padding-10 mobile-padding-20">
                            <h4>
                                <div class="mktoText" mktoname="What Reading Headline 1" id="WhatReadingHeadline1">
                                    Headline</div>
                            </h4>
                            <div class="mktoText" mktoname="What Reading Description 1" id="WhatReadingDescription1">
                                <p>description</p>
                            </div>
                            <div class="mktoText" mktoname="What Reading Link 1" id="WhatReadingLink1">
                                <a href="#" class="mobile-hide">read more</a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="padding-10 mobile-padding-20">
                            <h4>
                                <div class="mktoText" mktoname="What Reading Headline 2" id="WhatReadingHeadline2">
                                    Headline</div>
                            </h4>
                            <div class="mktoText" mktoname="What Reading Description 2" id="WhatReadingDescription2">
                                <p>description</p>
                            </div>
                            <div class="mktoText" mktoname="What Reading Link 2" id="WhatReadingLink2">
                                <a href="#" class="mobile-hide">read more</a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="padding-10 mobile-padding-20">
                            <h4>
                                <div class="mktoText" mktoname="What Reading Headline 3" id="WhatReadingHeadline3">
                                    Headline</div>
                            </h4>
                            <div class="mktoText" mktoname="What Reading Description 3" id="WhatReadingDescription3">
                                <p>description</p>
                            </div>
                            <div class="mktoText" mktoname="What Reading Link 3" id="WhatReadingLink3">
                                <a href="#" class="mobile-hide">read more</a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="padding-10 mobile-padding-20">
                            <h4>
                                <div class="mktoText" mktoname="What Reading Headline 4" id="WhatReadingHeadline4">
                                </div>
                            </h4>
                            <div class="mktoText" mktoname="What Reading Description 4" id="WhatReadingDescription4">
                            </div>
                            <div class="mktoText" mktoname="What Reading Link 4" id="WhatReadingLink4">
                                <a href="#" class="mobile-hide">read more</a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="padding-10 mobile-padding-20">
                            <h4>
                                <div class="mktoText" mktoname="What Reading Headline 5" id="WhatReadingHeadline5">
                                </div>
                            </h4>
                            <div class="mktoText" mktoname="What Reading Description 5" id="WhatReadingDescription5">
                            </div>
                            <div class="mktoText" mktoname="What Reading Link 5" id="WhatReadingLink5">
                                <a href="#" class="mobile-hide">read more</a>
                            </div>
                        </td>
                    </tr>
                </table>
            </aside>
        </td>
    </tr>
</table>