<table id="DevelopmentsThatMatter" role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0"
    align="center">
    <tr>
        <td></td>
        <td width="600" class="padding-20"></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td class="">
            <h2>Developments that matter</h2>
        </td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td class="padding-10"> </td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>
            <center>
                <h3 class="color-blue">
                    <div class="mktoText" mktoname="Developments That Matter Headline" id="DevelopmentsThatMatterHeadline">
                        Headline</div>
                </h3>
            </center>
            <div class="mktoText" mktoname="Developments That Matter Description" id="DevelopmentsThatMatterDesc">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Dolor,
                    suscipit? Dolore minima soluta voluptatem,
                    esse cupiditate, sit totam consequuntur nulla magnam
                    voluptatum
                    commodi repellendus. Voluptas sed et quasi
                    vel illum?</p>
            </div>
        </td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td class="padding-10 grey-line"> </td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td class="padding-10"> </td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td class="">
            <center>
                <h2 class="color-red">
                    <div class="mktoText" mktoname="Event Name" id="EventName">
                        Upcoming Event </div>
                </h2>
            </center>
            <div class="mktoText" mktoname="Event Description" id="EventDescription">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo
                    facere qui temporibus non ipsam, pariatur
                    debitis iusto repellendus, saepe accusantium, laudantium
                    exercitationem. Ea commodi optio consequuntur neque
                    tempore quis quae?</p>
            </div>
        </td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td class="padding-10"> </td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>
            <div class="text-align-center">
                <a href="#" class="btn btn-black" id="EventsPageBtn">Visit events page</a>
                <a href="#" id="AddToCal">
                    <img src="addToCal.png">
                </a>
                <b>
                    <div class="mktoText inline-block color-red" mktoname="Event Date/Time" id="EventDateTime">
                        <p>June<br />7<br />3PM</p>
                    </div>
                </b>
            </div>
        </td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td class="padding-30"></td>
        <td></td>
    </tr>
</table>