<table id="DevelopmentsThatMatter" role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0"
    align="center" class="document">
    <tr>
        <td class="bg bg-blue mobile-block">
            <h2>DEVELOPMENTS THAT MATTER</h2>
            <h3>
                <div class="mktoText" mktoname="Developments That Matter Headline" id="DevelopmentsThatMatterHeadline">
                    Headline #1</div>
            </h3>
            <div class="mktoText" mktoname="Developments That Matter Description" id="DevelopmentsThatMatterDesc">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Dolor,
                    suscipit? Dolore minima soluta voluptatem,
                    esse cupiditate, sit totam consequuntur nulla magnam
                    voluptatum
                    commodi repellendus. Voluptas sed et quasi
                    vel illum?</p>
            </div>
        </td>
        <td class="bg bg-red mobile-block">
            <div class="text-align-right">
                <a href="#" id="AddToCal">
                    <img src="https://uschamber-webassets.s3.amazonaws.com/email-assets/daily-bulletin/addToCal.png">
                </a>
            </div>
            <h3>
                <div class="mktoText" mktoname="Event Name" id="EventName">
                    Upcoming Event </div>
            </h3>
            <div class="mktoText" mktoname="Event Description" id="EventDescription">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo
                    facere qui temporibus non ipsam, pariatur
                    debitis iusto repellendus, saepe accusantium, laudantium
                    exercitationem. Ea commodi optio consequuntur neque
                    tempore quis quae?</p>
            </div>
            <a href="#" class="btn btn-black">Visit events page</a>
        </td>
    </tr>
</table>