#EventsPageBtn {
    height: 70px;
    line-height: 70px;
    padding: 0 10px 0;
}

#DevelopmentsThatMatter a {
    display: inline-block;
    vertical-align: top;
}

#EventDateTime p {
    padding: 0 0 0 0;
    margin: 6px 0 0 5px;
}
