<table id="DutyCalls" role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" align="center">
    <tr>
        <td></td>
        <td width="750">
            <h2>Duty Calls, Business Responds</h2>
        </td>
        <td></td>
    </tr>
    <tr>
        <td class="padding-10"></td>
        <td class="padding-10"></td>
        <td class="padding-10"></td>
    </tr>
    <tr>
        <td></td>
        <td>
            <div class="hr-fake hr-blue"></div>
        </td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td class="padding-20"></td>
        <td></td>
    </tr>
</table>
<table id="DutyCallsImage" role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0"
    align="center" class="document">
    <tr>
        <td>
            <img src="duty.jpg">
        </td>
    </tr>
</table>
<table id="DutyCallsStories" role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0"
    align="center">
    <tr>
        <td></td>
        <td class="padding-20"></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td class=" text-align-center" width="600">
            <h3 class="color-blue">
                <div class="mktoText" mktoname="Duty Calls Headline 1" id="DutyCallsHeadline1">Headline #1
                </div>
            </h3>
            <div class="mktoText" mktoname="Duty Calls Description 1" id="DutyCallsDescription1">
                <p>Lorem ipsum dolor sit amet
                    consectetur
                    adipisicing elit.
                    Sequi provident minima maiores iure. </p>
            </div>
        </td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td class="padding-30"></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td class="padding-30"></td>
        <td></td>
    </tr>
</table>