<table id="DutyCalls" role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" align="center">
    <tr>
        <td></td>
        <td width="600">
            <h2>${DutyCallsHeadline}</h2>
        </td>
        <td></td>
    </tr>
    <tr>
        <td class="padding-10"></td>
        <td class="padding-10"></td>
        <td class="padding-10"></td>
    </tr>
    <tr>
        <td></td>
        <td>
            <div class="hr-fake hr-blue"></div>
        </td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td class="padding-20"></td>
        <td></td>
    </tr>
</table>