<table id="Footer" role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" align="center"
    class="container">
    <tr>
        <td></td>
        <td width="600" class="spacer-v-30"></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>
            <img
                src="https://page.uschamber.com/rs/462-UWH-935/images/USCC_logo_web_ProximaNova_ExtraCondensed_seal-Gray-uscc.png">
        </td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td class="spacer-v-10"></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>
            <!-- Physical address -->
            1615 H Street, NW
            Washington, DC 20062
        </td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td class="spacer-v-10"></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>
            This email was sent to&nbsp;{{lead.Email Address:default=your email address}}.
        </td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td class="spacer-v-10"></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>
            <!-- Unsubscribe link -->
            <unsubscribe>
                <a href="https://page.uschamber.com/coronavirus_daily.html">Unsubscribe</a>
            </unsubscribe>
        </td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td class="spacer-v-30"></td>
        <td></td>
    </tr>
</table>