<table id="Header" role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" align="center">
    <tr>
        <td></td>
        <td class="text-align-center" width="600">
            <h1>Chamber Daily Bulletin</h1>
            <h2>Your daily guide to COVID-19
                advice, resources, and
                information.</h2>
            <p>Keep your business strong, prepared, and proactive.</p>
            <a href="#" class="btn btn-black mobile-padding-20">Visit the
                Chamber
                COVID
                Website</a>
        </td>
        <td></td>
    </tr>
    <tr class="mobile-hide">
        <td></td>
        <td class="spacer-v-20 "></td>
        <td></td>
    </tr>
</table>
<table id="HeaderBar" role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" align="center"
    class="document">
    <tr>
        <td>
            <div class="hr-fake hr-blue"></div>
        </td>
    </tr>
</table>