<table id="Navbar" role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" align="center"
    class="document">
    <tr>
        <td style="width: 100%;">
            <a href="#">
                <img id="Logo"
                    src="https://page.uschamber.com/rs/462-UWH-935/images/USCC_logo_web_ProximaNova_ExtraCondensed_seal-Gray-uscc.png">
            </a>
            <div class="text-align-right">
                <a class="mobile-hide quick-link"
                    href="https://www.uschamber.com/series/above-the-fold/coronavirus-live-blog">Coronavirus
                    Live Blog</a>
                <a class="mobile-hide quick-link"
                    href="https://www.uschamber.com/sites/default/files/guidance_for_employers_to_plan_and_respond_to_the_coronavirus_031620.pdf">Guidance
                    for Employers</a>
                <a class="mobile-hide quick-link"
                    href="https://www.uschamber.com/report/coronavirus-emergency-loans-guide-and-checklist-small-businesses">Small
                    Business Checklist</a>
            </div>
        </td>
    </tr>
    <tr class="mobile-hide">
        <td class="spacer-v-30"></td>
    </tr>
</table>