<table id="NumbersToKnow" role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0"
    align="center" class="document">
    <tr>
        <td class="spacer-v-20"></td>
    </tr>
    <tr>
        <td>
            <h2 class="mobile-padding-20">NUMBERS TO KNOW</h2>
            <hr class="hr-gold mobile-padding-5" />
            <table role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" align="center"
                class="document">
                <tr>
                    <td class="spacer-v-10"></td>
                </tr>
            </table>
            <table role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" align="center"
                class="document">
                <tr class="ntk-header">
                    <td class="ntk ntk-red mobile-block">
                        <h3>
                            <div class="mktoText" mktoname="Stat 1 Data" id="Stat1Data">40K</div>
                        </h3>
                        <h4>
                            <div class="mktoText" mktoname="Stat 1 Headline" id="Stat1Headline">Stat Headline</div>
                        </h4>
                        <div class="mktoText" mktoname="Stat 1 Description" id="Stat1Description">
                            <p>Lorem ipsum dolor sit amet consectetur
                                adipisicing
                                elit</p>
                        </div>
                    </td>
                    <td class="spacer-h-15 mobile-spacer-v-5 mobile-spacer-h-0 mobile-block">
                    </td>
                    <td class="ntk ntk-gold mobile-block">
                        <h3>
                            <div class="mktoText" mktoname="Stat 2 Data" id="Stat2Data">300<br />MIL</div>
                        </h3>
                        <h4>
                            <div class="mktoText" mktoname="Stat 2 Headline" id="Stat2Headline">Stat Headline</div>
                        </h4>
                        <div class="mktoText" mktoname="Stat 2 Description" id="Stat2Description">
                            <p>Lorem ipsum dolor sit amet consectetur
                                adipisicing
                                elit</p>
                        </div>
                    </td>
                    <td class="spacer-h-15 mobile-spacer-v-5 mobile-spacer-h-0 mobile-block">
                    </td>
                    <td class="ntk ntk-blue mobile-block">
                        <h3>
                            <div class="mktoText" mktoname="Stat 3 Data" id="Stat3Data">$44<br /><span
                                    style="font-size:60%">TRILLION</span></div>
                        </h3>
                        <h4>
                            <div class="mktoText" mktoname="Stat 3 Headline" id="Stat3Headline">Stat Headline</div>
                        </h4>
                        <div class="mktoText" mktoname="Stat 3 Description" id="Stat3Description">
                            <p>Lorem ipsum dolor sit amet consectetur
                                adipisicing
                                elit</p>
                        </div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td class="spacer-v-30"></td>
    </tr>
</table>