<table id="SmallBizPerspective" role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0"
    align="center" class="document smallbiz-desktop">
    <tr class="bg bg-darkblue">
        <td class="bg bg-darkblue">
            <h3>Small Biz Perspectives</h3>
            <div class="spacer-v-20"></div>
            <h4>
                <div class="mktoText" mktoname="Small Biz Perspective Headline" id="SmallBizPerspectiveHeadline">10
                    Small
                    Businesses Doing Amazing Things to
                    Support the
                    Coronavirus Effort</div>
            </h4>
        </td>
        <td class="split-image" align="right">
            <div class="mktoImg" mktoname="Small Biz Perspective Image" id="SmallBizPerspectiveImage">
                <img src="https://uschamber-webassets.s3.amazonaws.com/email-assets/daily-bulletin/smallBizPerspective.png"
                    class="" />
            </div>
        </td>
    </tr>
    <tr>
        <td class="padding-30"></td>
        <td class="padding-30"></td>
    </tr>
</table>
<table id="SmallBizPerspective" role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0"
    align="center" class="document smallbiz-mobile">
    <tr class="bg bg-darkblue">
        <td class="bg bg-darkblue">
            <h3>Small Biz Perspectives</h3>
            <div class="spacer-v-20"></div>
            <h4>
                <div class="mktoText" mktoname="Small Biz Perspective Headline" id="SmallBizPerspectiveHeadline">10
                    Small
                    Businesses Doing Amazing Things to
                    Support the
                    Coronavirus Effort</div>
            </h4>
        </td>
    </tr>
    <tr>
        <td>
            <div class="mktoImg" mktoname="Small Biz Perspective Image" id="SmallBizPerspectiveImage">
                <img src="https://uschamber-webassets.s3.amazonaws.com/email-assets/daily-bulletin/smallBizPerspective.png"
                    class="" />
            </div>
        </td>
    </tr>
    <tr>
        <td class="padding-30"></td>
        <td class="padding-30"></td>
    </tr>
</table>