<table id="WhatReading" role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0"
    align="center">
    <tr>
        <td></td>
        <td width="600">
            <h2>${WhatReadHeadline}</h2>
        </td>
        <td></td>
    </tr>
    <tr>
        <td class="padding-10"></td>
        <td class="padding-10"></td>
        <td class="padding-10"></td>
    </tr>
    <tr>
        <td></td>
        <td>
            <div class="hr-fake hr-darkblue"></div>
        </td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td class="padding-20"></td>
        <td></td>
    </tr>
</table>
<table id="WhatReadingContent" role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0"
    class="text-align-center" align="center">
    <tr>
        <td></td>
        <td width="600">
            <h3>
                <div class="mktoText" mktoname="What Reading Headline 1" id="WhatReadingHeadline1">
                    Headline</div>
            </h3>
            <div class="mktoText" mktoname="What Reading Description 1" id="WhatReadingDescription1">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi quod saepe quae obcaecati provident
                    incidunt quasi labore neque, aliquam eos. Ipsam suscipit tempore distinctio. Nam ipsam pariatur
                    natus quam autem?</p>
            </div>
            <div class="mktoText" mktoname="What Reading Link 1" id="WhatReadingLink1">
                <a href="#" class="read-more">read more</a>
            </div>
        </td>
        <td></td>
    </tr>
    <tr class="grey-line">
        <td></td>
        <td class="padding-10"></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td class="padding-10"></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td width="600">
            <h3>
                <div class="mktoText" mktoname="What Reading Headline 2" id="WhatReadingHeadline2">
                    Headline</div>
            </h3>
            <div class="mktoText" mktoname="What Reading Description 2" id="WhatReadingDescription2">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis minus architecto voluptas,
                    molestias accusantium necessitatibus aperiam nostrum hic modi consequatur. Repudiandae nesciunt
                    libero delectus pariatur. Cupiditate, praesentium maiores? Eligendi, dolorem!</p>
            </div>
            <div class="mktoText" mktoname="What Reading Link 2" id="WhatReadingLink2">
                <a href="#" class="read-more">read more</a>
            </div>
        </td>
        <td></td>
    </tr>
    <tr class="grey-line">
        <td></td>
        <td class="padding-10"></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td class="padding-20"></td>
        <td></td>
    </tr>
</table>