<table
  id="ChamberInActionStory_##count"
  role="presentation"
  aria-hidden="true"
  cellspacing="0"
  cellpadding="0"
  border="0"
  align="center"
  class="text-align-center"
>
  <tr>
    <td></td>
    <td width="600">
      <center>
        <a name="cia##count-anchor" id="cia##count-anchor"></a><h3>
          ${GenericHeadline}
        </h3>
      </center>
    </td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td class="spacer-v-5" width="600">&nbsp;</td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td width="600">
      <div
        class="mktoText blue-links p-margins"
        mktoname="Chamber in Action Description"
        id="ChamberActionDescription_##count"
        align="left"
      >
        <p>
          Add a short (1-3 sentences) section here about why this is important.
          Keep in mind that <a href="#">you can link</a> the content here
          easily.
        </p>
        <p>
          Don't put too many sentences within a paragraph. Let's keep this
          readable!
        </p>
      </div>
    </td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td class="spacer-v-15 ${HideLine}" width="600">&nbsp;</td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td class="spacer-v-20" width="600">&nbsp;</td>
    <td></td>
  </tr>
</table>
