<table id="WhatReadingStory_##count" role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0"
    class="text-align-center" align="center">
    <tr>
        <td></td>
        <td width="600">
            <h3>
                <!--<div class="mktoText black-links" mktoname="What Reading Headline" id="WhatReadingHeadline">
                    <a href="#">Headline</a>
                </div>-->
                <a class="color-black" href="${GenericUrl}">${GenericHeadline}</a>
            </h3>
        </td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td class="spacer-v-5" width="600">&nbsp;</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td width="600">
            <div class="mktoText blue-links p-margins" mktoname="What Reading Description"
                id="WhatReadingDescription_##count">
                <p>Add a short (1-3 sentences) section here about why this is important. Keep in mind that <a
                        href="#">you can link</a>
                    the content here easily. </p>
                <p>Don't put too many sentences within a paragraph. Let's keep this readable!</p>
            </div>
        </td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td class="spacer-v-10" width="600">&nbsp;</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td width="600">

            <!--<div class="mktoText" mktoname="What Reading Link" id="WhatReadingLink_##count">-->
            <a href="${GenericUrl}" class="read-more">read more</a>
            <!--</div>-->
        </td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td class="spacer-v-20" width="600">
            <div class="mktoText grey-line" mktoname="Headline Divider" id="WhatReadingDivider_##count">
                <p>&nbsp;</p>
            </div>
        </td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td class="spacer-v-30" width="600">&nbsp;</td>
        <td></td>
    </tr>
</table>